::selection {
	background-color: #eb99a1;
	color: #d9d8dc;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", sans-serif;
}

li {
	word-wrap: break-word;
}

.embed-container {
	display: flex;
	align-items: center;
	gap: 15px;
	width: fit-content;
}
.embed-container iframe {
	flex-shrink: 0;
}
.embed-text {
	white-space: nowrap;
}
